button {
  color: antiquewhite;
  background-color: black;
}

#display {
  background-color: white;
}

#board {
  position: relative;
}

.border {
  position: absolute;
  width: 994px;
  top: -90px;
  left: 19%;


}

.tile {
  width: 152px;
  margin-right: -2px;
  height: 172px;
  display: inline-block;
  vertical-align: top;
  background-size: cover;
}

div.row {
  display: block;
  text-align: center;
}

div.row:not(:first-child) {
  margin-top: -43px;
}